## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Ushuaia,-54.8000,-68.3000,35.26,69,40,23.02,AR,scattered clouds
1,1,Kaitangata,-46.2817,169.8464,45.19,92,100,17.38,NZ,moderate rain
2,2,Mehamn,71.0357,27.8492,55.31,94,100,0.00,NO,overcast clouds
3,3,Mataura,-46.1927,168.8643,46.47,96,100,11.07,NZ,light rain
4,4,Butaritari,3.0707,172.7902,82.62,69,98,15.66,KI,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your travel desination? "))
max_temp = float(input("What is the maximum temperature you would like for your travel desination? "))

What is the minimum temperature you would like for your travel desination? 1
What is the maximum temperature you would like for your travel desination? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) 
                                    & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Ushuaia,-54.8000,-68.3000,35.26,69,40,23.02,AR,scattered clouds
1,1,Kaitangata,-46.2817,169.8464,45.19,92,100,17.38,NZ,moderate rain
2,2,Mehamn,71.0357,27.8492,55.31,94,100,0.00,NO,overcast clouds
3,3,Mataura,-46.1927,168.8643,46.47,96,100,11.07,NZ,light rain
4,4,Butaritari,3.0707,172.7902,82.62,69,98,15.66,KI,overcast clouds
5,5,Bambous Virieux,-20.3428,57.7575,67.21,88,40,4.61,MU,scattered clouds
6,6,Kalat,29.0225,66.5916,66.90,83,100,7.40,PK,overcast clouds
7,7,Flinders,-34.5833,150.8552,65.37,80,50,5.01,AU,scattered clouds
8,8,Cape Town,-33.9258,18.4232,58.37,69,0,5.01,ZA,clear sky
9,9,Yellowknife,62.4560,-114.3525,72.12,37,40,14.97,CA,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                697
City                   697
Lat                    697
Lng                    697
Max Temp               697
Humidity               697
Cloudiness             697
Wind Speed             697
Country                689
Current Description    697
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_clean_df = preferred_cities_df.dropna()
preferred_cities_clean_df.count()

City_ID                689
City                   689
Lat                    689
Lng                    689
Max Temp               689
Humidity               689
Cloudiness             689
Wind Speed             689
Country                689
Current Description    689
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,35.26,scattered clouds,-54.8000,-68.3000,
1,Kaitangata,NZ,45.19,moderate rain,-46.2817,169.8464,
2,Mehamn,NO,55.31,overcast clouds,71.0357,27.8492,
3,Mataura,NZ,46.47,light rain,-46.1927,168.8643,
4,Butaritari,KI,82.62,overcast clouds,3.0707,172.7902,
5,Bambous Virieux,MU,67.21,scattered clouds,-20.3428,57.7575,
6,Kalat,PK,66.90,overcast clouds,29.0225,66.5916,
7,Flinders,AU,65.37,scattered clouds,-34.5833,150.8552,
8,Cape Town,ZA,58.37,clear sky,-33.9258,18.4232,
9,Yellowknife,CA,72.12,scattered clouds,62.4560,-114.3525,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row['Lat']
    lng=row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']
clean_hotel_df.count()

City                   622
Country                622
Max Temp               622
Current Description    622
Lat                    622
Lng                    622
Hotel Name             622
dtype: int64

In [10]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))